<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.krepchenko.yourshoppinglist">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/application_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.krepchenko.yourshoppinglist.db.GoodsContentProvider"
            android:authorities="com.krepchenko.yourshoppinglist.provider" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="5a0a84e9107c086e09ab1f4cfb472377174db38a" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
